<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4 class="post-meta">{{ page.summary }}</h4>
    <p class="post-summary">
      Posted by : {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><a href="{{site.url}}{{site.baseurl}}blog/authors/{{page.author}}">{{ page.author }}</a></span> </span
      >{% endif %} on
      <time datetime="{{ page.date }}" itemprop="datePublished"
        >{{ page.date | date: "%b %-d, %Y" }}</time
      >
    </p>
    <span
      class="disqus-comment-count"
      data-disqus-identifier="{{ page.url }}"
    ></span>
    <div class="post-categories">
      {% if post %} {% assign categories = post.categories %} {% else %} {%
      assign categories = page.categories %} {% endif %} Category : {% for
      category in categories %}
      <a href="{{site.url}}{{site.baseurl}}blog/categories/{{category|slugize}}"
        >{{category}}</a
      >
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
  </div>

  <div class="row" itemprop="articleBody">
    <div class="main col-12 col-lg-9 markdown-body">
      <img
        class="card-img-top"
        src="{{site.url}}{{site.baseurl}}{{ page.thumbnail }}"
        alt="{{ post.title }}"
      />
      <br />
      <br />
      {{ content }}
      <br />
      {%- include share_page.html -%}
      <!-- Author box -->
      {% assign author = site.data.authors[page.author] %}
        {% if author %}
        {% include author.html %}
      {% endif %}
    </div>
  </div>
  {%- if site.hyvor_talk_website_id -%}
  <div class="comments">
    {%- include hyvor_comments.html -%}
   </div>
    {%- endif -%}
  
      <div id="disqus_thread"></div>



</article>
<script>
  var headings = document.querySelectorAll("h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]");

  for (var i = 0; i < headings.length; i++) {
      headings[i].innerHTML =
          '<span><a href="#' + headings[i].id + '" class="text-decoration-none anchor">' +
              '<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>' +
          '</a>' + headings[i].innerText + '</span>';
  }
</script>
