<a href="https://github.com/anuraghazra/github-readme-stats">
  <!-- Change the `github-readme-stats.anuraghazra1.vercel.app` to `github-readme-stats.vercel.app`  -->
  <img class="githubLanguages githubModule" align="center" src="https://blakedrumm-github-readme-stats.vercel.app/api/top-langs/?username=blakedrumm&layout=compact&theme=vue-dark" />
</a>
<a href="https://github.com/anuraghazra/github-readme-stats">
  <img class="githubStats githubModule" align="center" src="https://blakedrumm-github-readme-stats.vercel.app/api?username=blakedrumm&show_icons=true&include_all_commits=true&count_private=true&theme=vue-dark" alt="Blake's github stats" />
</a>

<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  
<figure>
    <embed src="https://wakatime.com/share/@limitless/4a5bea80-ff5d-4d92-a6bc-f9ac7652d183.svg"></embed>
</figure>
-->
<!-- Hours Coded 
<figure>
    <embed src="https://wakatime.com/share/@limitless/549c5b9f-6dc9-4ff0-b75c-5fcb225637d7.svg"></embed>
</figure>
-->
