---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
img.githubStats {
    max-width: 351px;
}
/* Table Colors */
.card-body table th {
    text-align: center;
    background-color: #ffffff17;
    border: 1px solid #ffffff30;
}

.card-body table td {
    border: 1px solid #ffffff30;
    padding: 3px;
}

.githubModule {
    min-width: 100%;
}
/* Fix positions of containers for Blog Posts */
.main-container div.blog-post{
    margin: unset;
}

/* Disqus thread */
div#disqus_thread {
    display: block;
    width: 80%;
}
/* Author - Project Scaling */
#author_projects .row {
    display: flex;
    justify-content: space-around;
}

/* Author - Project Scaling */
#author_projects .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Author - Github Readme Stats */
a img.githubModule {
    min-width: 100%;
    max-width: -webkit-fill-available;
}

/* Author - Work Logo Scaling */
@media (min-width: 481px) and (max-width: 767px){
    #author_projects .col-md-2 {
        text-align:center;
    }
}
/* Round Image for Gaston College */
img.company-logo[src*="gaston-college.png"] {
    background-color: white;
    border: 3px solid #03204f;
    border-radius: 50px;
    padding: 8px;
}

/* Search */
@media (max-width: 992px){
    div.offset-md-2 {
        margin-left: unset;
    }
    .nav.searchbtn:nth-of-type(2){
	display:none
    }
    .searchbtn.mobileView {
	margin: 0 !important;
    }
    a.navbar-brand{
        margin-right: unset;
    }
}

/* Make Blog post images full size */
.main-container .row.justify-content-center ul .card {
    padding: 0 !important;
}

/* Search */
button.navbar-toggler{
    padding: 0px;
}
/* Search */
@media (max-width: 420px){
	a.navbar-brand{
		font-size: 1.01rem;
	}
}

@media (min-width: 992px){
    .nav.searchbtn:nth-of-type(1){
		display:none
	}
}

/* Control the color of the selected background in Contact form 
.form-control::placeholder{
    background: #c9ced3;
}
*/
