---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */

.article-card-link .article-link .posted-date {
    font-size: 15px;
}

html.dark-theme .article-container .article-link .posted-date {
    color: #6a6a6a;
}
html.light-theme .article-container .article-link .posted-date {
    color: #4b4b4b;
}

html.dark-theme .article-container:hover .posted-date {
    color: #ffffff;
}

html.light-theme .article-container:hover .posted-date {
    color: #ffffff;
}

/* Syntax Hightlighter */
html.light-theme .highlight .c {
    color: #2bff59;
}
/* End Syntax Highligher */

/* Global <pre> */
pre {
    padding: 10px;
    border-radius: 0.375rem;
}
/* Dark mode: base element <pre> */
html.dark-theme pre {
    color: #f8f8f2 !important;
    background-color: #333333;
}
/* Light mode: base element <pre> */
html.light-theme pre {
    color: #101010 !important;
    background-color: #8b8b8b;
}

/* Code header for copy button and language label - positioned inside .highlighter-rouge as first child */
.code-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

/* Language label in the code header */
.code-lang-label {
    padding: 4px 12px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 0 0 0.375rem 0;
    user-select: none;
    line-height: 1.5;
}

html.dark-theme .code-lang-label {
    color: #a0a0a0;
    background: rgba(255, 255, 255, 0.08);
}

html.light-theme .code-lang-label {
    color: #555;
    background: rgba(0, 0, 0, 0.08);
}

/* Extra top padding on pre to make room for the absolutely-positioned code header */
.highlighter-rouge .highlight pre {
    padding-top: 36px;
}
  
.copy-code-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 12px;
    font-weight: 900;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0.375rem 0 0.375rem;
    transition: background 0.2s;
}

html.dark-theme .copy-code-button {
    color: #f8f8f2;
}

html.dark-theme .copy-code-button:hover {
    background: rgba(0, 0, 0, 0.5);
}

html.light-theme .copy-code-button {
    color: #2d2d2d;
    background: rgba(255, 255, 255, 0.5);
}

html.light-theme .copy-code-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

#toc_container {
    border: 1px solid #aaa;
    display: table;
    font-size: 14px;
    margin-bottom: 1em;
    padding: 8px;
    max-width: 75%;
    margin-top: 18px;
    border-radius: 8px;
    box-shadow: 0px 7px 10px #0000004d;
    min-width: 45%;
}
@media (max-width: 992px) {
    #toc_container{
        min-width: 100%;
        max-width: 100%;
    }
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    margin-left: unset !important;
}

.markdown-body .octicon-link {
    color: #c9d1d9;
    vertical-align: middle;
    visibility: hidden;
}

html.dark-theme .markdown-body a.anchor {
    fill: white;
}

html.dark-theme .markdown-body a.anchor:hover .octicon-link {
    fill: rgb(173, 173, 173);
}

.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link {
    visibility: visible;
}

.img-shields-io > img{
    max-width: 100%;
}

.about-me .card .row{
    text-align: center;
}

/* Main Logo */
img.top-logo {
    width: 188px;
}

/* Main Page Middle Image Height */
@media screen and (min-width: 576px) {
    .container-fluid .jumbotron {
        padding: 16rem 2rem;
    }
}
@media (max-width: 992px) {
    #author_projects #project-card{
        flex-direction: column;
    }
}
.card .row{
    justify-content: center;
}
/* Project Image */
#author_projects .project-img {
    width: inherit;
    height: auto;
    max-height: 521px;
}

body {
    padding-top: 0px;
    transition: .25s background-color ease-in-out;
}

img.githubStats {
    max-width: 351px;
}
/* Table Colors */
.card-body table th {
    text-align: center;
    background-color: #ffffff17;
    border: 1px solid #ffffff30;
}

.card-body table td {
    border: 1px solid #ffffff30;
    padding: 3px;
}

/* Color of Seperators */
.card-body hr {
    border-top: 1px solid #ffffff30;
}

.card-header {
    border-bottom: 1px solid #ffffff30;
}
 /*                    */
 
.githubModule {
    min-width: 100%;
}
/* Fix positions of containers for Blog Posts */
.main-container div.blog-post{
    margin: unset;
}

/* Disqus thread */
div#disqus_thread {
    display: block;
    width: 80%;
}
/* Author - Project Scaling */
#author_projects .row {
    display: flex;
    justify-content: space-around;
}

/* Author - Project Scaling */
#author_projects .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Author - Github Readme Stats */
a img.githubModule {
    min-width: 100%;
    max-width: -webkit-fill-available;
}

/* Author - Work Logo Scaling */
@media (min-width: 481px) and (max-width: 767px){
    #author_projects .col-md-2 {
        text-align:center;
    }
}
/* Round Image for Gaston College */
img.company-logo[src*="gaston-college.png"] {
    background-color: white;
    border: 3px solid #03204f;
    border-radius: 50px;
    padding: 8px;
}

#donate-button-container{
    text-align: left;
    display: block;
}

/* Search */
@media (max-width: 992px){
    div.offset-md-2 {
        margin-left: unset;
    }
    .nav.searchbtn:nth-of-type(2){
	display:none
    }
    .searchbtn.mobileView {
	margin: 0 !important;
    }
    a.navbar-brand{
        margin-right: unset;
    }
    /* fix mobile view for posts etc. start page without zoom */
    .main-container{
        max-width: 95%;
        margin: 0 auto;
    }
    .row.justify-content-center > div > .row.center{
	justify-content: center;
    }
    #donate-button-container{
	text-align: center;
    }
    #recent-articles-header{
        /* display: grid; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        /* grid-template-columns: 17fr 2fr; */
    }
}

/* Make Blog post images full size */
.main-container .row.justify-content-center ul .card {
    padding: 0 !important;
}

/* Search */
button.navbar-toggler{
    padding: 0px;
}
/* Search */
@media (max-width: 420px){
	a.navbar-brand{
		font-size: 1.01rem;
	}
}

/* Desktop */
@media (min-width: 767px){
	.search-form{
		width: 0;
		height: 58px;
		margin-bottom: 50px;
	}
	.search-results{
		height: 78vh;
	}
}
/* Mobile */
@media (max-width: 767px){
	.search-form-container {
	    margin-top: 0px;
	    padding-top: 13px;
	}
}

@media (min-width: 992px){
    .nav.searchbtn:nth-of-type(1){
		display:none
	}
}

html.light-theme .recommendations-unit-title{
    color: #6a6a6a !important;
}
html.light-theme .recommendations-forum{
    color: #4b4b4b !important;
}
html.dark-theme .recommendations-unit-title{
    color: #f3f3f3 !important;
}
html.dark-theme .recommendations-forum{
    color: #acacac !important;
}

nav#topNav {
    box-shadow: #00000040 0 9px 8px;
    transition: .25s background-color ease-in-out;
}

.blog-post-category-title{
    display:none;
}

.table-hover>tbody>tr:hover>*{
    color: #aeaeae !important;
}

/* Nav Divider: | */
span.nav-divider {
    font-size: 26px;
    padding-right: 10px;
    color: #38383c;
    cursor: default;
}

@media (max-width: 992px){
    span.nav-divider {
        display: none;
    }
}

/* Control the color of the selected background in Contact form 
.form-control::placeholder{
    background: #c9ced3;
}
*/
