---
layout: full-width
description: {{site.description}}
thumbnail: /assets/img/blake-drumm-logo.png
image: /assets/img/blake-drumm-logo.png
---

<script>
  $(document).ready(function() {
    var phrases = [{% for phrase in site.typewrite-text %}"{{ phrase }}"{% unless forloop.last %}, {% endunless %}{% endfor %}];

    // Find the longest common prefix shared by all phrases
    var prefix = phrases[0] || '';
    for (var i = 1; i < phrases.length; i++) {
      while (phrases[i].indexOf(prefix) !== 0) {
        prefix = prefix.substring(0, prefix.length - 1);
      }
    }

    var suffixes = phrases.map(function(p) { return p.substring(prefix.length); });
    // If all suffixes are empty (single phrase or identical phrases), animate the whole text
    if (suffixes.every(function(s) { return s === ''; })) {
      prefix = '';
      suffixes = phrases.slice(0, 1);
    }
    var suffixIndex = 0;
    var charIndex = 0;
    var typeSpeed = 80;
    var deleteSpeed = 50;
    var pauseBeforeDelete = 2000;
    var pauseBeforeType = 400;

    var $el = $('#typewriteText');
    $el.html('<span id="typewriteContent"></span><span class="blinkingCursor">|</span>');
    setInterval(function() { $('.blinkingCursor').toggle(); }, 500);

    var $content = $('#typewriteContent');

    function typePrefix(i) {
      $content.text(prefix.substring(0, i));
      if (i < prefix.length) {
        setTimeout(function() { typePrefix(i + 1); }, typeSpeed);
      } else {
        setTimeout(typeSuffix, typeSpeed);
      }
    }

    function typeSuffix() {
      var suffix = suffixes[suffixIndex];
      if (charIndex < suffix.length) {
        charIndex++;
        $content.text(prefix + suffix.substring(0, charIndex));
        setTimeout(typeSuffix, typeSpeed);
      } else {
        setTimeout(deleteSuffix, pauseBeforeDelete);
      }
    }

    function deleteSuffix() {
      if (charIndex > 0) {
        charIndex--;
        $content.text(prefix + suffixes[suffixIndex].substring(0, charIndex));
        setTimeout(deleteSuffix, deleteSpeed);
      } else {
        suffixIndex = (suffixIndex + 1) % suffixes.length;
        setTimeout(typeSuffix, pauseBeforeType);
      }
    }

    typePrefix(0);
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>
