---
layout: full-width
summary: {{site.description}}
description: {{site.description}}
thumbnail: /assets/img/blake-drumm-logo.png
image: /assets/img/blake-drumm-logo.png
url: {{site.url}}{{site.baseurl}}
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
        <span>
    {%- include github_star_button.html -%}
    {%- include github_fork_button.html -%}
  </span>
      {%- include recent_articles.html -%}
    </div>
